form {
  #textarea-div {
    //position: relative;
    textarea {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 700px;
      height: 180px;
      border: 1px solid black;
      padding: 15px;
      border-radius: 3px;
      resize: none;
    }
    .add-button {
      //position: absolute;
      bottom: 20px;
      right: 20px;
    }
    .color-btn {
      width: 40px;
      height: 40px;
    }
  }
}
